In [1]:
import pandas as pd 
import os
import numpy as np

In [2]:
from cleaning_fx import clean_df

In [3]:
data_path = "data/"

In [4]:
# Load the files for entity a
a_company = pd.read_csv(os.path.join(data_path, "a__company.csv"))
a_company.head(10)

,vendor_id,parent_vendor_id,top_vendor_id,cnt_children,orgtype_id,geo_id,name,email,phone,fax,...,address1,address2,country,zipcode,parentdunsnumber,score,cnt_opp,bucket_id,load_date,lvl
0,26303872,NaN,26303872.0,0,0,100239,"LHASA, LLC [DUNS",NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,16,2018-05-26,0.0
1,144388388,52137010.0,NaN,0,0,52450,"LAKE HAVASU, CITY OF",NaN,NaN,NaN,...,2330 MCCULLOCH BLVD N,NaN,US,86403,NaN,0,0,70,2018-05-26,NaN
2,143446948,NaN,143446948.0,0,0,100239,LONG LEWIS FORD,NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,87,2018-05-26,0.0
3,21723402,NaN,21723402.0,0,0,49677,Lara Jean OConnor,NaN,NaN,NaN,...,6242 Kilmer Loop #204 Arvada,NaN,US,80403,NaN,0,0,9,2018-05-26,0.0
4,151786331,NaN,151786331.0,0,0,100239,LeChris,NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,84,2018-05-26,0.0
5,285649634,NaN,285649634.0,0,0,100239,Lisa's Kayaks Inc,NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,34,2018-05-26,0.0
6,144203445,49865915.0,NaN,0,0,37018,"LEWIS & CLARK, COUNTY OF",NaN,NaN,NaN,...,221 BRECKENRIDGE,NaN,US,59604,NaN,0,0,21,2018-05-26,NaN
7,152312291,NaN,152312291.0,0,0,100239,LAURA NUNEZ VILLARTE,NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,29,2018-05-26,0.0
8,299438581,NaN,299438581.0,0,0,100019,LANDWIDE SATELLITE SOLUTIONS PTY LT,NaN,NaN,NaN,...,NaN,NaN,AU,2560,NaN,0,0,1,2018-05-26,0.0
9,58763594,NaN,58763594.0,0,0,100239,Long Fence,NaN,NaN,NaN,...,NaN,NaN,US,0,NaN,0,0,0,2018-05-26,0.0

Listing a_company irrelevant columns that I can drop:
- load_date, bucket_id, and lvl seem to be some sort of internal values
- address1 and address2 are redundant to address
- score doesn't have any discernible meaning
- cnt_children & cnt_opp doesn't seem to have any match to b_company features
- dunsnumber & parentdunsnumber 
- fax is all missing
- country is in geo info

In [5]:

a_company['zipcode'] = a_company['zipcode'].replace(['0', 0], np.nan)

In [6]:
a_company.head(5)

,vendor_id,parent_vendor_id,top_vendor_id,cnt_children,orgtype_id,geo_id,name,email,phone,fax,...,address1,address2,country,zipcode,parentdunsnumber,score,cnt_opp,bucket_id,load_date,lvl
0,26303872,NaN,26303872.0,0,0,100239,"LHASA, LLC [DUNS",NaN,NaN,NaN,...,NaN,NaN,US,NaN,NaN,0,0,16,2018-05-26,0.0
1,144388388,52137010.0,NaN,0,0,52450,"LAKE HAVASU, CITY OF",NaN,NaN,NaN,...,2330 MCCULLOCH BLVD N,NaN,US,86403,NaN,0,0,70,2018-05-26,NaN
2,143446948,NaN,143446948.0,0,0,100239,LONG LEWIS FORD,NaN,NaN,NaN,...,NaN,NaN,US,NaN,NaN,0,0,87,2018-05-26,0.0
3,21723402,NaN,21723402.0,0,0,49677,Lara Jean OConnor,NaN,NaN,NaN,...,6242 Kilmer Loop #204 Arvada,NaN,US,80403,NaN,0,0,9,2018-05-26,0.0
4,151786331,NaN,151786331.0,0,0,100239,LeChris,NaN,NaN,NaN,...,NaN,NaN,US,NaN,NaN,0,0,84,2018-05-26,0.0

In [7]:
a_geo = pd.read_csv(os.path.join(data_path, "a__geo.csv"))
a_geo.head(10)

,geo_id,zipcode,is_primary,latitude,longitude,elevation,state,state_full_name,area_code,city,...,state_fips,timezone,daylight_saving,region,division,congress_district,congress_land_area,country,continent,country_iso2
0,8278,14467,t,43.043294,-77.614181,513.0,NY,New York,585,HENRIETTA,...,36,5.0,Y,Northeast,Middle Atlantic,25|27,510.19|3973.13,USA,North America,US
1,3430,6258,t,41.8975,-71.9631,287.0,CT,Connecticut,860,POMFRET,...,09,5.0,Y,Northeast,New England,02,1987.68,USA,North America,US
2,48308,78234,t,29.462264,-98.4414,675.0,TX,Texas,210,SAN ANTONIO,...,48,6.0,Y,South,West South Central,21,5920.89,USA,North America,US
3,382713,E2K1K7,t,45.276163,-66.080195,57.0,New Brunswick / Nouveau-Brunswick,New Brunswick / Nouveau-Brunswick,CA-NB,Saint John,...,CA04,NaN,-03:00,NaN,NaN,NaN,NaN,CAN,North America,CA
4,8165,14213,t,42.916747,-78.892782,583.0,NY,New York,716,BUFFALO,...,36,5.0,Y,Northeast,Middle Atlantic,26,219.13,USA,North America,US
5,21421,33890,t,27.486423,-81.708558,109.0,FL,Florida,863,ZOLFO SPRINGS,...,12,5.0,Y,South,South Atlantic,17,6369.97,USA,North America,US
6,48598,78582,t,26.510284,-98.675196,3462.0,TX,Texas,956,RIO GRANDE CITY,...,48,6.0,Y,South,West South Central,28,9378.53,USA,North America,US
7,44242,72024,t,34.74584,-91.742255,242.0,AR,Arkansas,870,CARLISLE,...,05,6.0,Y,South,West South Central,01,19318.29,USA,North America,US
8,10736,18042,t,40.655162,-75.222839,211.0,PA,Pennsylvania,610,EASTON,...,42,5.0,Y,Northeast,Middle Atlantic,06|08|15|17,860.47|706.93|1285.03|1733.22,USA,North America,US
9,45056,73102,t,35.471526,-97.51889,1197.0,OK,Oklahoma,405,OKLAHOMA CITY,...,40,6.0,Y,South,West South Central,05,2073.9,USA,North America,US

features to drop from a_geo:
- is_primary, latitude, longitude, elevation, state_full_name, city_display, timezone, daylight_saving, region, division, congress_district, congress_land_area

In [8]:
a_data = pd.merge(left = a_company,
                  right = a_geo,
                  on='geo_id',
                  how = 'left')

# Combine zipcodes with preference for zipcode_x, fallback to zipcode_y
a_data['zipcode'] = a_data['zipcode_x'].fillna(a_data['zipcode_y'])

a_data.rename(columns={"country_iso2": "iso", 'parent_vendor_id': 'parent_id', 'top_vendor_id': 'top_id', "vendor_id": "unique_id"}, inplace=True)

a_clean = clean_df(a_data)

a_clean.head(10)

,unique_id,parent_id,top_id,cnt_children,orgtype_id,geo_id,name,email,phone,fax,...,region,division,congress_district,congress_land_area,country_y,continent,iso,zipcode,address_number,street_name
9651,18802368,NaN,18802368.0,0,0,100239,lohberger engineering pty ltdsjf,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,usa,america,us,NaN,NaN,NaN
67057,18802818,288468727.0,288468696.0,0,0,34197,lockheed martin,NaN,NaN,NaN,...,midwest,central,02,243791,usa,america,us,55121,NaN,eagan
31323,18802831,NaN,18802831.0,2,0,0,logus,NaN,NaN,NaN,...,not_defined,not_defined,not_defined,not_defined,usa,america,us,34409,NaN,palm beach
22669,18804109,156221130.0,288468696.0,0,0,4502,lockheed martin,NaN,NaN,NaN,...,,middle atlantic,0103,350028997,usa,america,us,08057,NaN,moorestown
18784,18883986,47362264.0,47362264.0,0,0,58834,lugokdc,NaN,NaN,NaN,...,,pacific,080910,735971834382667,usa,america,us,98424,5210,12th cfifewa
9397,18884006,21241028.0,288468696.0,0,0,21665,lockheed martin gyrocam,NaN,NaN,NaN,...,,atlantic,16,87533,usa,america,us,34243,7345,16th 101sarasotafl
20023,18885103,47531826.0,47531826.0,0,0,8367,l3 global communications,NaN,NaN,NaN,...,,middle atlantic,2527,51019397313,usa,america,us,14564,7640,omnitech victor
72198,18889982,49926910.0,49926910.0,0,0,12888,levin professional,NaN,NaN,NaN,...,,atlantic,08,85985,usa,america,us,20902,NaN,washington prof 11242 grandview wheaton md
21208,18890128,NaN,18890128.0,0,0,35275,lepier oil,NaN,NaN,NaN,...,midwest,central,07,3342931,usa,america,us,56542,320,1st fosston
3401,18890131,19020600.0,19020600.0,0,0,26151,linc government,NaN,NaN,NaN,...,,central,01,120795,usa,america,us,42240,101,walton hopkinsville

In [9]:
# Load the files for entity b
b_company = pd.read_csv(os.path.join(data_path, "b__company.csv"))
b_company.head(10)

,b_entity_id,entity_name,entity_proper_name,primary_sic_code,industry_code,sector_code,iso_country,metro_area,state_province,zip_postal_code,web_site,entity_type,entity_sub_type,year_founded,iso_country_incorp,iso_country_cor,nace_code
0,000BFG-E,LOTSOFF CORP,LOT$OFF Corp.,5331.0,3520.0,3500.0,US,San Antonio/TX Metro,TX,78209-4859,NaN,PVT,CP,1975.0,US,US,47.19
1,000P08-E,LASERSCOPE INC,"Laserscope, Inc.",3845.0,2325.0,2300.0,US,San Francisco/CA Metro,CA,95134-2011,http://www.laserscope.com,SUB,CP,1982.0,US,IE,26.60
2,000JF6-E,LONGWEN GROUP CORP,Longwen Group Corp.,6799.0,3320.0,3300.0,US,Phoenix/AZ Metro,AZ,85258,NaN,PUB,CP,1980.0,US,US,64.99
3,000L15-E,LISI SA,LISI SA,3728.0,1330.0,1300.0,FR,Lyon/France Metro,FC,90000,http://www.lisi-group.com,PUB,CP,1968.0,FR,FR,30.30
4,000NY7-E,LA GEAR INC,"L.A. Gear, Inc.",5139.0,3255.0,3250.0,US,Los Angeles/CA Metro,CA,90049,http://www.lagear.com,SUB,CP,1979.0,US,US,46.42
5,000NY8-E,LA QUINTA INNS INC,"La Quinta Inns, Inc.",7011.0,3440.0,3400.0,US,San Antonio/TX Metro,TX,78299-2636,NaN,EXT,CP,1968.0,US,US,55.10
6,000NY9-E,LA QUINTA MOTOR INNS INC,"La Quinta Motor Inns, Inc.",7011.0,3440.0,3400.0,US,San Antonio/TX Metro,TX,78299,NaN,SUB,CP,NaN,US,US,55.10
7,000NYB-E,LA Z BOY INC,"La-Z-Boy, Inc.",2512.0,1420.0,1400.0,US,Detroit/MI Metro,MI,48162,http://www.la-z-boy.com,PUB,CP,1941.0,US,US,31.09
8,000NYC-E,LABARGE INC,"LaBarge, Inc.",3674.0,1305.0,1300.0,US,St Louis/MO Metro,MO,63124,http://www.labarge.com,EXT,CP,1950.0,US,US,26.11
9,000NYD-E,LABONE INC /OLD/,"LabOne, Inc. /Old/",8071.0,3365.0,3350.0,US,Kansas City/MO Metro,KS,66214,NaN,EXT,NaN,NaN,US,US,86.90

Unnecessary features from b_company: 
- entity_proper_name, primary_sic_code, industry_code, sector_code, entity_type, entity_sub_type, year_founded, nace_code

- I already have the state info, so I want to drop the second part of the metro_area to at least keep the city name
- I should remove the special characters from each

In [10]:
b_hierarchy = pd.read_csv(os.path.join(data_path, "b__hierarchy.csv"))
b_hierarchy.head(10)

  b_entity_id b_parent_entity_id b_ultimate_parent_entity_id
0    000BFG-E                NaN                    000BFG-E
1    000P08-E           002Y7X-E                    00FV7G-E
2    000JP9-E                NaN                    000JP9-E
3    000P26-E                NaN                    000P26-E
4    000L15-E           05HTCY-E                    05HTCY-E
5    000FJL-E                NaN                    000FJL-E
6    000NY7-E           07WS0D-E                    07WS0D-E
7    000NY8-E           05TGPZ-E                    0DHZFS-E
8    000NY9-E           003CD2-E                    0DHZFS-E
9    000NYB-E                NaN                    000NYB-E

In [11]:
# merge b_hierarchy and b_company by the b_entity_id
b_data = pd.merge(left = b_hierarchy,
                  right = b_company,
                  on='b_entity_id',
                  how = 'left')

In [12]:
b_address = pd.read_csv(os.path.join(data_path, "b__address.csv"))
b_address.head(10)

C:\Users\tomss\AppData\Local\Temp\ipykernel_27268\3520341586.py:1: DtypeWarning: Columns (11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  b_address = pd.read_csv(os.path.join(data_path, "b__address.csv"))

,address_id,b_entity_id,location_city,state_province,location_postal_code,city_state_zip,location_street1,location_street2,location_street3,iso_country,tele_country,tele_area,tele,tele_full,fax_country,fax_area,fax,fax_full,hq
0,1000007,0BGRNX-E,Arnhem,GE,6827,"Arnhem, Gelderland 6827",P. Calandweg 54,NaN,NaN,NL,31.0,26,361.16.11,31.26.361.16.11,31.0,26.0,362.18.91,31.26.362.18.91,1
1,1000203,093RN5-E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,46.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1
2,100029,05PH68-E,Great Milton,LO,NaN,"Great Milton, London & South East",NaN,NaN,NaN,GB,44.0,NaN,NaN,NaN,44.0,NaN,NaN,NaN,1
3,1000307,0BGT26-E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AU,61.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,1
4,1000329,0BGT51-E,Taoyuan,NaN,NaN,Taoyuan,528 Fuhsing 3rd Road,Kueishan Township,NaN,TW,886.0,NaN,NaN,NaN,886.0,NaN,NaN,NaN,1
5,100033,05RHBM-E,Warren,OH,NaN,"Warren, OH",NaN,NaN,NaN,US,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
6,100042,05PKBB-E,Spokane,WA,99216,"Spokane, WA 99216",12310 East Mirabeau Parkway,NaN,NaN,US,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
7,1000504,0BGV45-E,Dar es Salaam,NaN,NaN,Dar es Salaam,"Plot No. 299, Ruhinde Street",Ada Estate,NaN,TZ,255.0,NaN,NaN,NaN,255.0,NaN,NaN,NaN,1
8,1000539,0BGV7T-E,Saint-Pandelon,AQ,40180,"Saint-Pandelon, Aquitaine 40180","80, chemin des Prés",NaN,NaN,FR,33.0,5,58.98.73.67,33.5.58.98.73.67,33.0,5.0,58.91.51.78,33.5.58.91.51.78,1
9,1000575,0BGVDJ-E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AU,61.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,1

What to drop from b_address:
- dataset a has no fax info, so drop fax, fax_country, fax_area, fax_full

In [13]:
b_address['address'] = (
    b_address['location_street1'].fillna('') + ' ' + 
    b_address['location_street2'].fillna('') + ' ' + 
    b_address['location_street3'].fillna('')
).str.strip()

b_address.head()

,address_id,b_entity_id,location_city,state_province,location_postal_code,city_state_zip,location_street1,location_street2,location_street3,iso_country,tele_country,tele_area,tele,tele_full,fax_country,fax_area,fax,fax_full,hq,address
0,1000007,0BGRNX-E,Arnhem,GE,6827,"Arnhem, Gelderland 6827",P. Calandweg 54,NaN,NaN,NL,31.0,26,361.16.11,31.26.361.16.11,31.0,26.0,362.18.91,31.26.362.18.91,1,P. Calandweg 54
1,1000203,093RN5-E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,46.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1,
2,100029,05PH68-E,Great Milton,LO,NaN,"Great Milton, London & South East",NaN,NaN,NaN,GB,44.0,NaN,NaN,NaN,44.0,NaN,NaN,NaN,1,
3,1000307,0BGT26-E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AU,61.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,1,
4,1000329,0BGT51-E,Taoyuan,NaN,NaN,Taoyuan,528 Fuhsing 3rd Road,Kueishan Township,NaN,TW,886.0,NaN,NaN,NaN,886.0,NaN,NaN,NaN,1,528 Fuhsing 3rd Road Kueishan Township

In [14]:
b_data = pd.merge(left = b_data,
                  right = b_address,
                  on='b_entity_id',
                  how = 'left')

b_data.rename(columns = {"b_entity_id": "unique_id","entity_name": "name", 'web_site': 'websiteurl',
                            'b_parent_entity_id': 'parent_id', "tele_area": "area_code",
                           'b_ultimate_parent_entity_id': 'top_id', "tele_full": "phone", "location_city": "city"},
                             inplace=True)

b_data['iso'] = b_data['iso_country_x'].fillna(b_data['iso_country_y'])
b_data['state'] = b_data['state_province_x'].fillna(b_data['state_province_y'])
b_data['zipcode'] = b_data['zip_postal_code'].fillna(b_data['location_postal_code'])

In [15]:
b_clean = clean_df(b_data)
b_clean.head(50)

,unique_id,parent_id,top_id,name,entity_proper_name,primary_sic_code,industry_code,sector_code,iso_country_x,metro_area,...,fax_area,fax,fax_full,hq,address,iso,state,zipcode,address_number,street_name
0,000bfge,NaN,000bfge,lotsoff,lotoff,5331.0,3520.0,3500.0,us,san antoniotx metro,...,NaN,NaN,NaN,1.0,1201 austin 116,us,tx,782094859,1201,austin 116
14,000ff7e,NaN,000ff7e,legacy,legacy,7819.0,3430.0,3400.0,us,san franciscoca metro,...,310,4173500,13104173500,1.0,4160 4th,us,ca,94538,4160,4th
7,000fjle,NaN,000fjle,leadingside,leadingside,7371.0,3308.0,3300.0,us,bostonma metro,...,NaN,NaN,NaN,1.0,1 canal park 3300,us,ma,02141,1,canal park 3300
15,000hnqe,NaN,000hnqe,lci industries,lci industries,3716.0,1250.0,1200.0,us,chicagoil metro,...,NaN,NaN,NaN,1.0,3501 county 6,us,in,46514,3501,county 6
16,000hnwe,05hjcve,05hjcve,lasercard,lasercard,3695.0,1315.0,1300.0,us,san franciscoca metro,...,650,9693140,16509693140,1.0,1875 shoreline,us,ca,94043,1875,shoreline
19,000jf6e,NaN,000jf6e,longwen,longwen,6799.0,3320.0,3300.0,us,phoenixaz metro,...,4800,NaN,NaN,1.0,7702 doubletree ranch 300,us,az,85258,7702,doubletree ranch 300
3,000jp9e,NaN,000jp9e,leonardo spa,leonardo spa,3721.0,1330.0,1300.0,it,romeitaly metro,...,06,3208621,39063208621,1.0,piazza monte grappa 4,it,,00195,NaN,piazza monte grappa 4
6,000l15e,05htcye,05htcye,lisi sa,lisi sa,3728.0,1330.0,1300.0,fr,lyonfrance metro,...,3,84570200,33384570200,1.0,le millenium 18 rue albert camus,fr,fc,90000,NaN,le millenium 18 rue albert camus
22,000ny4e,06v94he,06v94he,lumara health,lumara health,2834.0,2305.0,2300.0,us,louismo metro,...,3140,6463705,13146463705,1.0,16640 chesterfield 200,us,mo,63005,16640,chesterfield 200
8,000ny7e,07ws0de,07ws0de,la gear,la gear,5139.0,3255.0,3250.0,us,los angelesca metro,...,3100,8893500,13108893500,1.0,844 moraga,us,ca,90049,844,moraga
9,000ny8e,05tgpze,0dhzfse,la quinta inns,la quinta inns,7011.0,3440.0,3400.0,us,san antoniotx metro,...,NaN,NaN,NaN,1.0,weston centre 112 pecan,us,tx,782992636,NaN,weston centre 112 pecan
10,000ny9e,003cd2e,0dhzfse,la quinta motor inns,la quinta motor inns,7011.0,3440.0,3400.0,us,san antoniotx metro,...,NaN,NaN,NaN,1.0,guest assistance,us,tx,78299,NaN,guest assistance
11,000nybe,NaN,000nybe,la z boy,lazboy,2512.0,1420.0,1400.0,us,detroitmi metro,...,NaN,NaN,NaN,0.0,1284 telegraph,us,mi,48162,1284,telegraph
13,000nyce,0bx2h8e,000hspe,labarge,labarge,3674.0,1305.0,1300.0,us,louismo metro,...,3140,8129438,13148129438,1.0,9900 clayton,us,mo,63124,9900,clayton
33,000nyde,05z891e,001cgfe,labone old,labone old,8071.0,3365.0,3350.0,us,kansas citymo metro,...,NaN,NaN,NaN,NaN,NaN,us,ks,66214,NaN,NaN
34,000nyfe,NaN,000nyfe,laboratory of america,laboratory of america,8071.0,3370.0,3350.0,us,raleighdurham nc metro,...,3360,5134510,13365134510,1.0,358 main,us,nc,272155837,358,main
35,000nyge,0032h5e,0032h5e,laclede gas,laclede gas,4924.0,4735.0,4700.0,us,louismo metro,...,3140,4211979,13144211979,1.0,720,us,mo,63101,NaN,720
36,000nyhe,07nk3he,07nk3he,laclede steel,laclede steel,3624.0,1235.0,1200.0,us,louismo metro,...,3140,4741561,13144741561,1.0,440 4th 300,us,mo,63102,440,4th 300
44,000nyje,05hzb8e,05hzb8e,lacrosse footwear,lacrosse footwear,3021.0,2440.0,2400.0,us,portlandor metro,...,5030,2511119,15032511119,1.0,17634 airport,us,or,97230,17634,airport
56,000nyke,000nybe,000nybe,la z boy casegoods,lazboy casegoods,2511.0,1420.0,1400.0,us,detroitmi metro,...,NaN,NaN,NaN,0.0,160 mine lake 200,us,mi,48162,160,mine lake 200
57,000nyle,000kk8e,000kk8e,ladysmith iga,ladysmith iga,NaN,NaN,NaN,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN
58,000nyme,000kk8e,000kk8e,ladysmith iga,ladysmith iga,NaN,NaN,NaN,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN
64,000nyne,05f0y9e,0fkykne,lafarge america,lafarge america,3241.0,1135.0,1100.0,us,chicagoil metro,...,7730,NaN,NaN,1.0,8700 bryn mawr 300,us,il,60631,8700,bryn mawr 300
66,000nype,NaN,000nype,laidlaw covenant,laidlaw covenant,NaN,NaN,NaN,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,ny,NaN,NaN,NaN
67,000nyqe,0013xne,0013xne,laifer,laifer,NaN,NaN,NaN,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,ny,NaN,NaN,NaN
77,000nyre,000r4we,000r4we,lake ariel bancorp,lake ariel bancorp,6021.0,4805.0,4800.0,us,new york cityny metro,...,NaN,NaN,NaN,1.0,,us,pa,18436,NaN,NaN
80,000nyse,000kk8e,000kk8e,lake,lake,NaN,NaN,NaN,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN
81,000nyte,0085r8e,0085r8e,lake shore bancorp,lake shore bancorp,6712.0,4825.0,4800.0,us,buffalony metro,...,716,3662965,17163662965,1.0,31 4th,us,ny,140482226,31,4th
97,000nyve,NaN,000nyve,lakeland,lakeland,6022.0,4810.0,4800.0,us,chicagoil metro,...,NaN,NaN,NaN,1.0,202,us,in,465811387,NaN,202
98,000nywe,NaN,000nywe,lakeland industries,lakeland industries,3069.0,2240.0,2200.0,us,new york cityny metro,...,6310,9819751,16319819751,1.0,3555 veterans memorial c ronkonkoma,us,ny,117799010,3555,veterans memorial c ronkonkoma
105,000nyxe,NaN,000nyxe,lakeside,lakeside,5812.0,3435.0,3400.0,us,atlantaga metro,...,NaN,NaN,NaN,NaN,NaN,us,ga,31061,NaN,NaN
107,000nyze,NaN,000nyze,lam,lam,3674.0,1355.0,1300.0,us,san franciscoca metro,...,NaN,NaN,NaN,1.0,4650 cushing,us,ca,94538,4650,cushing
108,000nz0e,NaN,000nz0e,lambert communications,lambert communications,8093.0,3365.0,3350.0,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN
117,000nz2e,001czde,001czde,lamcor,lamcor,3089.0,1250.0,1200.0,us,NaN,...,NaN,NaN,NaN,1.0,169,us,mn,56058,NaN,169
125,000nz3e,NaN,000nz3e,lamonts apparel,lamonts apparel,5651.0,3525.0,3500.0,us,seattlewa metro,...,4250,NaN,NaN,1.0,12413 willows,us,wa,98034,12413,willows
126,000nz4e,000xpze,0036x2e,lamson sessions,the lamson sessions,3429.0,1430.0,1400.0,us,clevelandoh metro,...,NaN,NaN,NaN,1.0,25701 science park,us,oh,441227313,25701,science park
128,000nz5e,NaN,000nz5e,lancaster colony,lancaster colony,2099.0,2410.0,2400.0,us,columbusoh metro,...,NaN,NaN,NaN,1.0,380 polaris 400,us,oh,43082,380,polaris 400
137,000nz6e,09xx7de,09xx7de,lance,lance,2052.0,2410.0,2400.0,us,charlottenc metro,...,7040,5545562,17045545562,1.0,13024 ballantyne corporate 900,us,nc,28277,13024,ballantyne corporate 900
138,000nz7e,068n7me,066zdje,lancer,lancer,3581.0,1250.0,1200.0,us,san antoniotx metro,...,2100,3107245,12103107245,1.0,6655 lancer,us,tx,78219,6655,lancer
139,000nz8e,NaN,000nz8e,lancer orthodontics,lancer orthodontics,3843.0,2325.0,2300.0,us,san diegoca metro,...,7600,5980418,17605980418,0.0,1493 poinsettia 143,us,ca,92081,1493,poinsettia 143
147,000nzbe,0fxyw8e,0fxyw8e,landauer,landauer,3829.0,1315.0,1300.0,us,chicagoil metro,...,7080,7557016,17087557016,1.0,2 science,us,il,604251586,2,science
148,000nzhe,05jm5pe,000p26e,legg mason partners money,legg mason partners money,6722.0,6010.0,6000.0,us,new york cityny metro,...,800,NaN,NaN,1.0,55 water,us,ny,10041,55,water
149,000nzje,000ldde,000ldde,landmark graphics,landmark graphics,7372.0,3310.0,3300.0,us,houstontx metro,...,NaN,NaN,NaN,1.0,333 cyress run 100,us,tx,77094,333,cyress run 100
155,000nzke,NaN,000nzke,landmark institutional funds i,landmark institutional funds i,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,000nzle,05frvce,000p26e,legg mason partners institutional,legg mason partners institutional,6722.0,6010.0,6000.0,us,new york cityny metro,...,800,NaN,NaN,1.0,55 water,us,ny,10041,55,water
158,000nzme,00964qe,000p26e,legg mason partners global,legg mason partners global,6722.0,6010.0,6000.0,us,NaN,...,NaN,NaN,NaN,NaN,NaN,us,NaN,NaN,NaN,NaN
166,000nzpe,05jm5pe,000p26e,legg mason partners premium money,legg mason partners premium money,6722.0,6010.0,6000.0,us,new york cityny metro,...,800,NaN,NaN,1.0,55 water,us,ny,10041,55,water
169,000nzte,0cltvce,0ftjkte,landrys,landrys,5812.0,3435.0,3400.0,us,houstontx metro,...,713,3867070,17133867070,1.0,1510,us,tx,77027,NaN,1510
170,000nzve,NaN,000nzve,lands end,lands end,5651.0,3550.0,3500.0,us,milwaukeewi metro,...,NaN,NaN,NaN,1.0,1 lands end,us,wi,53595,1,lands end
178,000nzwe,000cpwe,07w9jbe,landsing pacific,landsing pacific,6798.0,4890.0,4800.0,us,NaN,...,NaN,NaN,NaN,1.0,155 bovet 101,us,ca,94402,155,bovet 101

In [16]:

a_clean.head()

,unique_id,parent_id,top_id,cnt_children,orgtype_id,geo_id,name,email,phone,fax,...,region,division,congress_district,congress_land_area,country_y,continent,iso,zipcode,address_number,street_name
9651,18802368,NaN,18802368.0,0,0,100239,lohberger engineering pty ltdsjf,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,usa,america,us,NaN,NaN,NaN
67057,18802818,288468727.0,288468696.0,0,0,34197,lockheed martin,NaN,NaN,NaN,...,midwest,central,02,243791,usa,america,us,55121,NaN,eagan
31323,18802831,NaN,18802831.0,2,0,0,logus,NaN,NaN,NaN,...,not_defined,not_defined,not_defined,not_defined,usa,america,us,34409,NaN,palm beach
22669,18804109,156221130.0,288468696.0,0,0,4502,lockheed martin,NaN,NaN,NaN,...,,middle atlantic,0103,350028997,usa,america,us,08057,NaN,moorestown
18784,18883986,47362264.0,47362264.0,0,0,58834,lugokdc,NaN,NaN,NaN,...,,pacific,080910,735971834382667,usa,america,us,98424,5210,12th cfifewa

In [17]:
a_clean.to_pickle('data/a_clean')
b_clean.to_pickle('data/b_clean')